<div class="celular">
  <div class="topo">
    <label for="">{{horas}}</label>
    <div class="imgs">
      <img src="../../../assets/signal.png" alt="sinal de rede">
      <img src="../../../assets/wifi-signal.png" alt="sinal wifi">
      <img src="../../../assets/battery.png" alt="sinal de bateria">
    </div>
  </div>
  <div class="topo2">
    <img src="../../../assets/seta.png" alt="seta esquerda">
    <h4>Contratar</h4>
  </div>

  <div class="titulo_corpo">
    <p>Selecione o dia e horário para o plantão</p>
  </div>

  <div class="corpo">
    <input type="text" placeholder="    Nome do paciente">
    <input type="text" placeholder="    Dia">
    <input type="text" placeholder="    Horário">
  </div>

  <div class="botoes">
    <button type="button">
      Continuar
    </button>
    <button type="button">
      Voltar
    </button>
  </div>

  <div class="rodape">

    <div class="imagens">
      <img src="../../../assets/home.png" alt="casa">
      <p>Home</p>
    </div>

    <div class="imagens">
      <img src="../../../assets/writing.png" alt="plantão">
      <p>Plantões</p>
    </div>

    <div class="imagens">
      <img src="../../../assets/heart.png" alt="favorito">
      <p>Favoritos</p>
    </div>

    <div class="imagens">
      <img src="../../../assets/user.png" alt="conta">
      <p>Minha conta</p>
    </div>
  </div>
</div>
